.approach {
    margin-bottom: 121px;
    background-image: url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-blue.svg"),
        url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-pink.svg"),
        url("/assets/img/slider/circle-pink.svg");
    background-repeat: no-repeat;
    background-size: 210px 210px, 108px 108px, 80px 80px, 156px 156px, 141px 141px, 64px 64px;
    background-position: 22% 0, 55% 63%, 67% 19%, 86% 58%, 26% 95%, 34% 31%;
}

.approach .container {
    max-width: 1114px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.approach__left {
    flex: 0 1 316px;
    margin-left: 20px;
    position: relative;
    margin-bottom: 55px;
}

.approach__left h2 {
    position: sticky;
    top: 0;
}

.approach__right {
    flex: 0 1 674px;
    display: flex;
    justify-content: flex-end;
}

.approach__item {
    max-width: 542px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-main);
    position: relative;
    list-style: none;
    margin: 5px 0 45px 0;
}

.approach__item::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    left: -136px;
    top: -5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.approach__item_a::before {
    background-image: url("/assets/img/approach/a.webp");
    width: 80px;
    height: 84px;
    top: 3px;
}

.approach__item_b::before {
    background-image: url("/assets/img/approach/b.webp");
    width: 69px;
    height: 91px;
    top: -5px;
}

.approach__item_c::before {
    background-image: url("/assets/img/approach/c.webp");
    width: 66px;
    height: 78px;
    top: 1px;
}

.approach__item_d::before {
    background-image: url("/assets/img/approach/d.webp");
    width: 65px;
    height: 82px;
    top: -5px;
}

.approach__item_e::before {
    background-image: url("/assets/img/approach/e.webp");
    width: 50px;
    height: 78px;
}

@media (max-width: 1050px) {
    .approach {
        flex-wrap: wrap;
    }

    h2 {
        text-align: center;
    }

    .container {
        justify-content: center;
    }

    .approach__left {
        flex: 1 1 100%;
        margin: 0 0 20px 0;
    }
}

@media (max-width: 730px) {
    .approach__right {
        justify-content: center;
    }

    .approach__item::before {
        width: 36px;
        left: -50px;
    }
}