.button {
    background: var(--color-light);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    padding: 9px 27px;
    text-decoration: none;
    border: 2px solid var(--color-light);
    transition: 250ms;
    display: inline-flex;
    cursor: pointer;
}

.button_transparent {
    background: none;
    color: var(--color-light);
}

.button:hover {
    background: #f13995;
    color: #ffffff;
}