.c-checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

.c-checkbox__label {
    background: url("/assets/img/check-box.png") no-repeat;
    padding-left: 34px;
    height: 22px;
}

.c-checkbox:checked+.c-checkbox__label {
    background: url("/assets/img/check-box_checked.png") no-repeat;
}