.future {
    margin-bottom: 106px;
}

.future__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.future__image {
    margin: 0 0 -79px 106px;
    flex: 0 1 545px;
}

.future__aist {
    width: 100%;
    animation: aist 5s linear 0s infinite alternate;
}

.future__txt {
    flex: 0 1 487px;
}

.future__title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    color: var(--color-main);
    margin: 0 0 21px 0;
}

.future__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-main);
}

.future__box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 655px;
    background-image: url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg");
    background-repeat: no-repeat;
    background-size: 136px 74px, 104px 57px, 232px 133px;
    background-position: 87px 236px, 628px 32px, 966px 427px;
    overflow: hidden;
    animation: 5s ease-in-out 0s infinite alternate future-cloud-move;
}

@keyframes future-cloud-move {
    from {
        background-position: 87px 236px, 628px 32px, 966px 427px;
    }

    to {
        background-position: 130px 200px, 580px 0, 800px 500px;
    }
}

.future__circle {
    width: 329px;
    height: 328px;
    position: relative;
}

.future__circle::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("/assets/img/circle-colorized.png") no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: 1;
}

.future__cloud {
    position: absolute;
    left: -1000%;
    top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.future__cloud_1 {
    width: 293px;
    height: 166px;
    left: -154px;
    top: -95px;
    background-image: url("/assets/img/cloud.svg");
    padding: 30px 50px 0 50px;
    z-index: 0;
}

.future__cloud_2 {
    width: 211px;
    height: 131px;
    left: 240px;
    top: -52px;
    background-image: url("/assets/img/cloud2.svg");
    padding: 13px 26px 0 26px;
    z-index: 2;
}

.future__cloud_3 {
    width: 229px;
    height: 140px;
    left: 284px;
    top: 130px;
    background-image: url("/assets/img/cloud3.svg");
    padding: 5px 18px 0 50px;
    text-align: left;
    z-index: 2;
}

.future__cloud_4 {
    width: 264.94px;
    height: 163.04px;
    left: 36px;
    top: 283px;
    background-image: url("/assets/img/cloud3.svg");
    padding: 4px 20px 0 20px;
    z-index: 2;
}

.future__cloud_5 {
    width: 228px;
    height: 127px;
    left: -166px;
    top: 132px;
    background-image: url("/assets/img/cloud.svg");
    padding: 27px 20px 0 20px;
    z-index: 2;
}

@media (max-width: 1000px) {
    .future__top {
        flex-direction: row-reverse;
    }

    .future__image {
        margin: 0 20px;
    }
}

@media (max-width: 800px) {
    .future__image {
        display: none;
    }

    .future__txt {
        flex: 1 1 100%;
    }
}

@media (max-width: 680px) {
    .future__cloud_1 {
        left: -70px;
        top: -128px;
    }

    .future__cloud_2 {
        left: 155px;
        top: -40px;
    }

    .future__cloud_3 {
        left: 130px;
        padding-left: 20px;
        top: 80px;
    }

    .future__cloud_5 {
        left: -50px;
        padding-right: 10px;
    }
}