#hamburger {
    position: absolute;
    display: block;
    height: 26px;
    width: 32px;
    top: 34px;
    right: 0;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.hamburger-lines {
    display: none;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 34px;
    right: 0;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--color-light);
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

#hamburger:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

#hamburger:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

#hamburger:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
#hamburger:checked ~ .navigation {
    display: flex;
    transform: translateX(0);
}

@media (max-width: 750px) {
    .hamburger-lines {
        display: flex;
    }
}
