.innovation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 140px auto;
    max-width: 1083px;
    justify-content: space-between;
}

.innovation__description {
    margin: 0 0 45px 0;
}

.innovation__title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: var(--color-main);
    max-width: 304px;
    margin: 0 0 83px 0;
}

.innovation__left {
    padding: 134px 0 0 7px;
}

.innovation__description {
    max-width: 455px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-main);
}

.innovation__image {
    margin: 25px 0 65px -97px;
}

@media (max-width: 935px) {
    .innovation {
        justify-content: center;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .innovation__left {
        padding: 0;
    }

    .innovation__title {
        margin: 0 0 30px 0;
        text-align: center;
        max-width: none;
    }

    .innovation__right {
        text-align: center;
    }

    .innovation__description {
        max-width: none;
    }

    .innovation__image {
        margin: 30px 5%;
        width: 90%;
        max-width: 476px;
    }
}