.mosaic {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 290px;
    margin-bottom: 50px;
}

.mosaic__left {
    margin-right: 16px;
}

.mosaic__left,
.mosaic__right {
    flex: 0 1 592px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
}

.mosaic__right {
    justify-content: flex-start;
    margin-top: -325px;
    margin-left: 16px;
}

.card {
    display: flex;
    position: relative;
}

.card_small {
    flex: 0 1 280px;
}

.card__image {
    width: 100%;
    border-radius: 12px;
}

.mosaic__left .card_small,
.mosaic__right .card {
    margin-top: 32px;
}

.mosaic__cloud {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mosaic__text {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-main);
}

/* bussines */
.mosaic__cloud_bussines {
    background-image: url("/assets/img/teacher/bussines.svg");
    width: 215px;
    height: 197px;
    left: 68.555%;
    top: 9%;
}

.mosaic__cloud_bussines::before {
    position: absolute;
    content: '';
    background: url("/assets/img/cloud.svg") no-repeat;
    background-size: contain;
    width: 100px;
    height: 55px;
    left: -13px;
    top: -13px;
    animation: 5s linear 1s infinite alternate cloud-bussines;
}

@keyframes cloud-bussines {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-10px, -10px);
    }
}

.mosaic__cloud_bussines::after {
    position: absolute;
    content: '';
    background: url("/assets/img/teacher/circles2.svg") no-repeat;
    background-size: contain;
    width: 81px;
    height: 87px;
    left: 50px;
    top: -70px;
    animation: 5s linear 1s infinite alternate circles-bussines;
}

@keyframes circles-bussines {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.7) rotate(90deg);
    }
}

/* music */
.mosaic__cloud_music {
    background-image: url("/assets/img/teacher/music.svg");
    width: 201px;
    height: 215px;
    left: 16.555%;
    top: 42.5%;
}

.mosaic__cloud_music::before {
    position: absolute;
    content: '';
    background: url("/assets/img/cloud.svg") no-repeat;
    background-size: contain;
    width: 140px;
    height: 77px;
    left: -24px;
    top: -11px;
    animation: 5s linear 1s infinite alternate cloud-music;
}

@keyframes cloud-music {
    from {
        transform: translate(0, 0) scale(1);
    }

    to {
        transform: translate(50px, 0) scale(0.5);
    }
}

.mosaic__cloud_music::after {
    position: absolute;
    content: '';
    background: url("/assets/img/teacher/circles.svg") no-repeat;
    background-size: contain;
    width: 90px;
    height: 120px;
    left: -88px;
    top: 35px;
    transform: rotate(-95deg);
    animation: 5s linear 1s infinite alternate circles-music;
}

@keyframes circles-music {
    from {
        transform: scale(1) rotate(-95deg);
    }

    to {
        transform: scale(0.5) rotate(260deg);
    }
}

/* reading */
.mosaic__cloud_reading {
    background-image: url("/assets/img/teacher/reading.svg");
    width: 314px;
    height: 290px;
    left: 50%;
    top: 67.5%;
}

.mosaic__cloud_reading::before {
    position: absolute;
    content: '';
    background: url("/assets/img/cloud.svg") no-repeat;
    background-size: contain;
    width: 144px;
    height: 80px;
    left: -26px;
    top: -23px;
    animation: 5s linear 1s infinite alternate cloud-reading;
}

@keyframes cloud-reading {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(50px, -10px);
    }
}

.mosaic__cloud_reading::after {
    position: absolute;
    content: '';
    background: url("/assets/img/teacher/circles.svg") no-repeat;
    background-size: contain;
    width: 139px;
    height: 155px;
    left: 236px;
    top: -16px;
    animation: 5s linear 1s infinite alternate circles-reading;
}

@keyframes circles-reading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(90deg);
    }
}

/* media queries */
@media (max-width:900px) {
    .mosaic__cloud_bussines {
        top: -20%
    }

    .mosaic__cloud_music {
        left: 5%;
        top: 20%;
    }
}

@media (max-width:700px) {
    .mosaic__cloud_bussines {
        left: 60%;
    }

    .mosaic__left .card_small,
    .mosaic__right .card {
        margin-top: 10px;
    }

    .mosaic__left {
        margin-right: 5px;
    }

    .mosaic__right {
        margin-left: 5px;
    }

    .mosaic__cloud_reading {
        width: 265px;
        height: 220px;
        left: 35%;
        top: 67.5%;
    }

    .mosaic__cloud_reading::after {
        width: 70px;
        height: 70px;
        left: 180px;
    }

    .mosaic__cloud_reading::before {
        width: 70px;
        height: 70px;
        left: 30px;
    }
}

@media (max-width:600px) {
    .mosaic {
        margin-top: 100px;
    }

    .mosaic__right {
        margin-top: 0;
    }

    .mosaic__cloud_bussines {
        width: 150px;
        height: 140px;
        top: -2%;
        left: 64%;
    }

    .mosaic__text {
        font-size: 12px;
        line-height: 18px;
    }

    .mosaic__cloud_music {
        width: 133px;
        height: 140px;
    }

    .mosaic__cloud_music::before {
        width: 70px;
        height: 35px;
    }

    .mosaic__cloud_reading {
        width: 180px;
        height: 180px;
        left: 35%;
        top: 67.5%;
    }

    .mosaic__cloud_reading .mosaic__text {
        margin-bottom: 20px;
    }
}

@media (max-width:450px) {
    .mosaic__cloud_bussines {
        transform: scale(0.7);
    }

    .mosaic__cloud_music {
        transform: scale(0.75);
    }

    .mosaic__cloud_reading {
        transform: scale(0.6);
    }
}