.sing-up {
    background-image: url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg");
    background-repeat: no-repeat;
    background-size: 95px 54px, 47px 26px, 95px 54px;
    background-position: 3% 97%, 46% 19%, 97% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 101px;
    margin-bottom: 227px;
    animation: cloud-move2 10s linear 0s infinite alternate;
}

@keyframes cloud-move2 {
    from {
        background-position: 3% 97%, 46% 19%, 97% 3%;
    }

    to {
        background-position: 15% 97%, 30% 19%, 80% 3%;
    }
}

.sing-up__left {
    padding: 54px 0 54px 70px;
}

.sing-up__text {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: var(--color-main);
    max-width: 440px;
    margin-bottom: 20px;
}

.sing-up__right {
    position: relative;
    flex: 1 1 50%;
}

.sing-up__aist {
    position: absolute;
    left: 72px;
    top: 12px;
    width: 100%;
    max-width: fit-content;
    animation: aist 5s linear 0s infinite alternate;
}

@keyframes aist {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(5deg);
    }
}

@media (max-width: 1180px) {
    .sing-up {
        margin-bottom: 100px;
    }

    .sing-up__left {
        flex: 1 1 50%;
    }

    .sing-up__right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sing-up__aist {
        position: static;
        width: 90%;
        margin: 10% 5%;
    }
}

@media (max-width: 700px) {
    .sing-up {
        margin-bottom: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sing-up__left {
        flex: 1 1 100%;
        padding: 20px;
    }

    .sing-up__right {
        justify-content: end;
    }

    .sing-up__aist {
        margin: 0;
        width: 40%;
        position: absolute;
        left: 60%;
        top: -100px;
    }
}