.slider {
    margin: 100px 0 100px 0;
}

.slider__container {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 60px 0;
}

.slider__slide {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
}

.slider__left {
    flex: 0 1 657px;
}

.slider__image {
    width: 100%;
    min-width: 200px;
}

.slider__right {
    flex: 0 1 419px;
    padding: 0 0 65px 0;
}

.slider__title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: var(--color-main);
    margin: 0;
}

.slider__description {
    max-width: 419px;
    margin-top: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-main);
}

.swiper-pagination-bullet {
    background: var(--color-main);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: var(--color-light);
}

.ourmission {
    background-image: url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-pink.svg"),
        url("/assets/img/slider/circle-pink.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-blue.svg");
    background-repeat: no-repeat;
    background-size: 300px 300px, 80px 80px, 44px 44px, 80px 80px, 300px 300px;
    background-position: 15% 97%, 15% 0, 50% 2%, 61% 5%, 100% 50%;
    animation: ourmission 7s linear 0s infinite alternate;
}

@keyframes ourmission {
    from {
        background-position: 15% 97%, 15% 0, 50% 2%, 61% 5%, 100% 50%;
    }

    to {
        background-position: 5% 97%, 1% 15%, 30% 20%, 70% 15%, 100% 0%;
    }
}

.ourmission .slider__image {
    max-width: 555px;
}

.ourvision {
    background-image: url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-blue.svg"),
        url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-yellow.svg"),
        url("/assets/img/slider/circle-pink.svg");
    background-repeat: no-repeat;
    background-size: 210px 210px, 38px 38px, 126px 126px, 54px 54px, 108px 108px, 108px 108px;
    background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
    animation: ourvision 7s linear 0s infinite alternate;
}

@keyframes ourvision {
    from {
        background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
    }

    to {
        background-position: 0% 1%, 60% 0, 80% 100%, 12% 80%, 50% 5%, 80% 50%;
    }
}

.ourvision .slider__image {
    max-width: 492px;
}

.ourgoal {
    background-image: url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-blue.svg"),
        url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-yellow.svg"),
        url("/assets/img/slider/circle-pink.svg");
    background-repeat: no-repeat;
    background-size: 210px 210px, 38px 38px, 126px 126px, 54px 54px, 108px 108px, 108px 108px;
    background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
    animation: ourgoal 7s linear 0s infinite alternate;
}

@keyframes ourgoal {
    from {
        background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
    }

    to {
        background-position: 0% 1%, 60% 0, 80% 100%, 12% 80%, 50% 5%, 80% 50%;
    }
}

.ourgoal .slider__image {
    max-width: 514px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px;
}

@media (max-width: 1095px) {
    .slider__left {
        margin: 0 20px 30px 20px;
    }

    .slider__right {
        flex: 1 1 100%;
        text-align: center;
    }

    .slider__title {
        font-size: 36px;
        line-height: 36px;
    }

    .slider__description {
        padding: 0 20px 20px 20px;
        max-width: none;
    }
}