.welcome {
    padding: 113px 72px 121px 69px;
    background-image: url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg");
    background-repeat: no-repeat;
    background-size: 95px 54px, 113px 64px, 195px 110px;
    background-position: 128px 44px, 981px 35px, 925px 489px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    animation: 30s linear 0s infinite alternate welome-cloud-move;
}

@keyframes welome-cloud-move {
    from {
        background-position: -100px 44px, 120% 0, 130% 489px;
    }

    to {
        background-position: 120% 44px, -20% 100%, -30% 489px;
    }
}

.welcome__left {
    flex: 1 1 550px;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.welcome__address {
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    color: #909ec4;
    max-width: 380px;
    margin: 7px 0 35px 0;
}

.welcome__time {
    padding-top: 9px;
}

.welcome__register {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    max-width: 418px;
    align-items: center;
}

.welcome__trial {
    max-width: 245px;
    margin-right: 30px;
}

.welcome__right {
    flex: 0 1 494px;
}

.welcome__author {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    margin: 8px 0 0 0;
    cursor: pointer;
}

.welcome__langs {
    font-family: "Inter";
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: var(--color-main);
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 27px;
    padding: 0;
}

.welcome__video iframe {
    width: 100%;
    height: 275px;
}

.welcome__title {
    font-size: 57px;
    line-height: 68px;
}

@media (max-width: 1235px) {
    .welcome {
        padding: 20px 30px;
    }

    .welcome__title {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 10px;
    }

    .welcome__address {
        margin-bottom: 0;
    }
}

@media (max-width: 1150px) {
    .welcome {
        justify-content: center;
        text-align: center;
    }

    .welcome__left {
        justify-content: center;
    }

    .welcome__address {
        max-width: none;
    }

    .welcome__register {
        display: none;
    }
}

@media (max-width: 630px) {}