.wizard {
    font-size: 18px;
    min-height: 330px;
    padding-right: 7px;
    display: none;
}

.wizard__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}

.wizard__body {
    min-height: 209px;
}

.wizard__question {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 17px;
}

.child-count {
    display: flex;
    align-items: center;
    margin-bottom: 138px;
}

.child-count .input-field {
    width: 52px;
    text-align: center;
    margin: 0 8px;
}

.minus-button,
.plus-button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.minus-button {
    background: url("/assets/img/minus.svg") no-repeat center center;
}

.plus-button {
    background: url("/assets/img/plus.svg") no-repeat center center;
}

.wizard__navigation {
    display: flex;
    justify-content: space-between;
}

.wizard__step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wizard__step_2,
.wizard__step_3 {
    display: none;
}

.wizard__navigation .button {
    font-size: 19px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ages {
    display: flex;
    flex-direction: column;
    padding: 9px 0 55px 0;
}

.ages__label {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 13px;
}

.wizard__contact {
    padding: 50px 0 37px 0;
}

.wizard__contact p {
    margin-bottom: 30px;
}

.wizard__success {
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 20px;
    text-transform: uppercase;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}