.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: 140px;
}

.footer__nav {
    flex: 0 1 396px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
}

.footer__nav-col {
    flex: 0 1 80px;
}

.footer__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--color-main);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

.footer__contact {
    flex: 0 1 252px;
    margin: 40px 0 0 0;
}

.footer__contact-link {
    display: flex;
    height: 31px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-main);
    text-decoration: none;
    align-items: center;
    margin: 0 0 16px 0;
}

.footer__contact-icon {
    margin: 0 5px 0 0;
}

@media (max-width: 940px) {
    .footer__nav {
        justify-content: space-around;
    }
}

@media (max-width: 650px) {
    .footer {
        padding-bottom: 20px;
    }

    .footer__logo {
        width: 50px;
    }

    .footer__nav {
        margin: 0;
    }

    .footer__link {
        margin: 0;
        font-size: 12px;
    }

    .footer__contact {
        margin: 0;
    }

    .footer__contact-link {
        margin: 0;
        font-size: 12px;
    }

    .footer__contact-link:nth-child(3) {
        display: none;
    }

    .footer__contact-icon {
        height: 16px;
    }
}

@media (max-width: 400px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer__nav {
        flex: 1 1 60%;
    }

    .footer__contact {
        display: none;
    }
}