.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px 0 42px 0;
    flex-wrap: wrap;
}

.header__logo {
    width: 68px;
}

.header__brand {
    display: none;
    font-size: 24px;
    color: var(--color-light);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-basis: 971px;
}

.navigation__link {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-main);
    line-height: 20px;
    text-decoration: none;
}

.navigation__link:hover {
    animation: navigation-rotate 200ms linear 0s 2 alternate;
}

.navigation__link_active {
    color: var(--color-light);
}

@keyframes navigation-rotate {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-6px);
    }
}

.navigation__link_auth {
    margin-left: 5px;
    padding: 10px 20px;
    color: var(--color-light);
    border: 2px solid var(--color-light);
    border-radius: 9px;
}

@media (max-width: 1100px) {
    .header {
        padding: 20px 0;
    }

    .header__logo {
        width: 40px;
        margin-right: 30px;
    }

    .navigation {
        flex-basis: auto;
    }

    .navigation__link {
        font-size: 16px;
        margin-right: 15px;
    }

    .navigation__link_auth {
        margin: 0;
    }
}

@media (max-width: 750px) {
    .header {
        justify-content: flex-start;
        position: relative;
    }

    .header__brand {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        transform: translate(-150%);
        display: none;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.9);
        flex-wrap: nowrap;
        align-items: stretch;
        text-align: center;
        transition: transform 0.5s ease-in-out;
    }

    .navigation__link {
        margin: 0;
        font-size: 20px;
        margin: 5px 0;
        padding: 10px;
        border-radius: 12px;
    }

    .navigation__link:hover {
        background: #f13995;
        color: #ffffff;
        animation: none;
    }
}