.overlayer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.overlayer__box {
    flex: 0 1 536px;
    background: #E5F5F5;
    border-radius: 8px;
    position: relative;
    padding: 47px 50px 30px 50px;
}

.overlayer__close {
    position: absolute;
    top: 17px;
    right: 16px;
    width: 17px;
    height: 17px;
    background: url('/assets/img/close.svg') no-repeat;
    cursor: pointer;
}

@media (max-width:600px) {
    .overlayer__box {
        margin: 0 20px 0 20px;
    }
}