@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;800&display=swap");
:root {
  --color-main: #374F8F;
  --color-light: #F551A2;
  --color-visited: hwb(224 22% 44% / 0.555);
  --color-container: #e5f5f5;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-main);
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.blue-bg {
  border-radius: 12px;
  background-color: var(--color-container);
}

.tc {
  text-align: center;
}

.page-title {
  text-align: center;
  margin: 45px 15px 20px 15px;
  flex: 1 1;
}

.input-field {
  border: 0;
  border-bottom: 2px solid #909EC4;
  background: none;
  font-size: 16px;
  line-height: 25px;
  outline: none;
  color: var(--color-main);
  width: 100%;
  padding: 2px 0;
}

.input-field::-moz-placeholder {
  color: var(--color-main);
}

.input-field:-ms-input-placeholder {
  color: var(--color-main);
}

.input-field::placeholder {
  color: var(--color-main);
}

@media (max-width: 1246px) {
  .container {
    margin: 0 15px;
  }
}
h1,
h2,
h3 {
  font-style: normal;
  font-weight: 800;
  margin: 0;
  color: var(--color-main);
  font-family: inherit;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  line-height: 59px;
}

h2 {
  font-size: 48px;
  line-height: 50px;
}

h3 {
  font-size: 21px;
  line-height: 22px;
}

p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px 0 42px 0;
  flex-wrap: wrap;
}

.header__logo {
  width: 68px;
}

.header__brand {
  display: none;
  font-size: 24px;
  color: var(--color-light);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-basis: 971px;
}

.navigation__link {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-main);
  line-height: 20px;
  text-decoration: none;
}

.navigation__link:hover {
  -webkit-animation: navigation-rotate 200ms linear 0s 2 alternate;
          animation: navigation-rotate 200ms linear 0s 2 alternate;
}

.navigation__link_active {
  color: var(--color-light);
}

@-webkit-keyframes navigation-rotate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}

@keyframes navigation-rotate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}
.navigation__link_auth {
  margin-left: 5px;
  padding: 10px 20px;
  color: var(--color-light);
  border: 2px solid var(--color-light);
  border-radius: 9px;
}

@media (max-width: 1100px) {
  .header {
    padding: 20px 0;
  }

  .header__logo {
    width: 40px;
    margin-right: 30px;
  }

  .navigation {
    flex-basis: auto;
  }

  .navigation__link {
    font-size: 16px;
    margin-right: 15px;
  }

  .navigation__link_auth {
    margin: 0;
  }
}
@media (max-width: 750px) {
  .header {
    justify-content: flex-start;
    position: relative;
  }

  .header__brand {
    display: block;
  }

  .navigation {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    transform: translate(-150%);
    display: none;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    flex-wrap: nowrap;
    align-items: stretch;
    text-align: center;
    transition: transform 0.5s ease-in-out;
  }

  .navigation__link {
    margin: 0;
    font-size: 20px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 12px;
  }

  .navigation__link:hover {
    background: #f13995;
    color: #ffffff;
    -webkit-animation: none;
            animation: none;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 140px;
}

.footer__nav {
  flex: 0 1 396px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.footer__nav-col {
  flex: 0 1 80px;
}

.footer__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-main);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.footer__contact {
  flex: 0 1 252px;
  margin: 40px 0 0 0;
}

.footer__contact-link {
  display: flex;
  height: 31px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-main);
  text-decoration: none;
  align-items: center;
  margin: 0 0 16px 0;
}

.footer__contact-icon {
  margin: 0 5px 0 0;
}

@media (max-width: 940px) {
  .footer__nav {
    justify-content: space-around;
  }
}
@media (max-width: 650px) {
  .footer {
    padding-bottom: 20px;
  }

  .footer__logo {
    width: 50px;
  }

  .footer__nav {
    margin: 0;
  }

  .footer__link {
    margin: 0;
    font-size: 12px;
  }

  .footer__contact {
    margin: 0;
  }

  .footer__contact-link {
    margin: 0;
    font-size: 12px;
  }

  .footer__contact-link:nth-child(3) {
    display: none;
  }

  .footer__contact-icon {
    height: 16px;
  }
}
@media (max-width: 400px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer__nav {
    flex: 1 1 60%;
  }

  .footer__contact {
    display: none;
  }
}
.overlayer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.overlayer__box {
  flex: 0 1 536px;
  background: #E5F5F5;
  border-radius: 8px;
  position: relative;
  padding: 47px 50px 30px 50px;
}

.overlayer__close {
  position: absolute;
  top: 17px;
  right: 16px;
  width: 17px;
  height: 17px;
  background: url("/assets/img/close.svg") no-repeat;
  cursor: pointer;
}

@media (max-width: 600px) {
  .overlayer__box {
    margin: 0 20px 0 20px;
  }
}
.approach {
  margin-bottom: 121px;
  background-image: url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-pink.svg"), url("/assets/img/slider/circle-pink.svg");
  background-repeat: no-repeat;
  background-size: 210px 210px, 108px 108px, 80px 80px, 156px 156px, 141px 141px, 64px 64px;
  background-position: 22% 0, 55% 63%, 67% 19%, 86% 58%, 26% 95%, 34% 31%;
}

.approach .container {
  max-width: 1114px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.approach__left {
  flex: 0 1 316px;
  margin-left: 20px;
  position: relative;
  margin-bottom: 55px;
}

.approach__left h2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.approach__right {
  flex: 0 1 674px;
  display: flex;
  justify-content: flex-end;
}

.approach__item {
  max-width: 542px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
  position: relative;
  list-style: none;
  margin: 5px 0 45px 0;
}

.approach__item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  left: -136px;
  top: -5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.approach__item_a::before {
  background-image: url("/assets/img/approach/a.webp");
  width: 80px;
  height: 84px;
  top: 3px;
}

.approach__item_b::before {
  background-image: url("/assets/img/approach/b.webp");
  width: 69px;
  height: 91px;
  top: -5px;
}

.approach__item_c::before {
  background-image: url("/assets/img/approach/c.webp");
  width: 66px;
  height: 78px;
  top: 1px;
}

.approach__item_d::before {
  background-image: url("/assets/img/approach/d.webp");
  width: 65px;
  height: 82px;
  top: -5px;
}

.approach__item_e::before {
  background-image: url("/assets/img/approach/e.webp");
  width: 50px;
  height: 78px;
}

@media (max-width: 1050px) {
  .approach {
    flex-wrap: wrap;
  }

  h2 {
    text-align: center;
  }

  .container {
    justify-content: center;
  }

  .approach__left {
    flex: 1 1 100%;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 730px) {
  .approach__right {
    justify-content: center;
  }

  .approach__item::before {
    width: 36px;
    left: -50px;
  }
}
.button {
  background: var(--color-light);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding: 9px 27px;
  text-decoration: none;
  border: 2px solid var(--color-light);
  transition: 250ms;
  display: inline-flex;
  cursor: pointer;
}

.button_transparent {
  background: none;
  color: var(--color-light);
}

.button:hover {
  background: #f13995;
  color: #ffffff;
}

.c-checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
}

.c-checkbox__label {
  background: url("/assets/img/check-box.png") no-repeat;
  padding-left: 34px;
  height: 22px;
}

.c-checkbox:checked + .c-checkbox__label {
  background: url("/assets/img/check-box_checked.png") no-repeat;
}

.future {
  margin-bottom: 106px;
}

.future__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.future__image {
  margin: 0 0 -79px 106px;
  flex: 0 1 545px;
}

.future__aist {
  width: 100%;
  -webkit-animation: aist 5s linear 0s infinite alternate;
          animation: aist 5s linear 0s infinite alternate;
}

.future__txt {
  flex: 0 1 487px;
}

.future__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: var(--color-main);
  margin: 0 0 21px 0;
}

.future__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
}

.future__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 655px;
  background-image: url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg");
  background-repeat: no-repeat;
  background-size: 136px 74px, 104px 57px, 232px 133px;
  background-position: 87px 236px, 628px 32px, 966px 427px;
  overflow: hidden;
  -webkit-animation: 5s ease-in-out 0s infinite alternate future-cloud-move;
          animation: 5s ease-in-out 0s infinite alternate future-cloud-move;
}

@-webkit-keyframes future-cloud-move {
  from {
    background-position: 87px 236px, 628px 32px, 966px 427px;
  }
  to {
    background-position: 130px 200px, 580px 0, 800px 500px;
  }
}

@keyframes future-cloud-move {
  from {
    background-position: 87px 236px, 628px 32px, 966px 427px;
  }
  to {
    background-position: 130px 200px, 580px 0, 800px 500px;
  }
}
.future__circle {
  width: 329px;
  height: 328px;
  position: relative;
}

.future__circle::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("/assets/img/circle-colorized.png") no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  z-index: 1;
}

.future__cloud {
  position: absolute;
  left: -1000%;
  top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.future__cloud_1 {
  width: 293px;
  height: 166px;
  left: -154px;
  top: -95px;
  background-image: url("/assets/img/cloud.svg");
  padding: 30px 50px 0 50px;
  z-index: 0;
}

.future__cloud_2 {
  width: 211px;
  height: 131px;
  left: 240px;
  top: -52px;
  background-image: url("/assets/img/cloud2.svg");
  padding: 13px 26px 0 26px;
  z-index: 2;
}

.future__cloud_3 {
  width: 229px;
  height: 140px;
  left: 284px;
  top: 130px;
  background-image: url("/assets/img/cloud3.svg");
  padding: 5px 18px 0 50px;
  text-align: left;
  z-index: 2;
}

.future__cloud_4 {
  width: 264.94px;
  height: 163.04px;
  left: 36px;
  top: 283px;
  background-image: url("/assets/img/cloud3.svg");
  padding: 4px 20px 0 20px;
  z-index: 2;
}

.future__cloud_5 {
  width: 228px;
  height: 127px;
  left: -166px;
  top: 132px;
  background-image: url("/assets/img/cloud.svg");
  padding: 27px 20px 0 20px;
  z-index: 2;
}

@media (max-width: 1000px) {
  .future__top {
    flex-direction: row-reverse;
  }

  .future__image {
    margin: 0 20px;
  }
}
@media (max-width: 800px) {
  .future__image {
    display: none;
  }

  .future__txt {
    flex: 1 1 100%;
  }
}
@media (max-width: 680px) {
  .future__cloud_1 {
    left: -70px;
    top: -128px;
  }

  .future__cloud_2 {
    left: 155px;
    top: -40px;
  }

  .future__cloud_3 {
    left: 130px;
    padding-left: 20px;
    top: 80px;
  }

  .future__cloud_5 {
    left: -50px;
    padding-right: 10px;
  }
}
#hamburger {
  position: absolute;
  display: block;
  height: 26px;
  width: 32px;
  top: 34px;
  right: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: none;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 34px;
  right: 0;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--color-light);
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

#hamburger:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

#hamburger:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

#hamburger:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

#hamburger:checked ~ .navigation {
  display: flex;
  transform: translateX(0);
}

@media (max-width: 750px) {
  .hamburger-lines {
    display: flex;
  }
}
.innovation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 140px auto;
  max-width: 1083px;
  justify-content: space-between;
}

.innovation__description {
  margin: 0 0 45px 0;
}

.innovation__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: var(--color-main);
  max-width: 304px;
  margin: 0 0 83px 0;
}

.innovation__left {
  padding: 134px 0 0 7px;
}

.innovation__description {
  max-width: 455px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
}

.innovation__image {
  margin: 25px 0 65px -97px;
}

@media (max-width: 935px) {
  .innovation {
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .innovation__left {
    padding: 0;
  }

  .innovation__title {
    margin: 0 0 30px 0;
    text-align: center;
    max-width: none;
  }

  .innovation__right {
    text-align: center;
  }

  .innovation__description {
    max-width: none;
  }

  .innovation__image {
    margin: 30px 5%;
    width: 90%;
    max-width: 476px;
  }
}
.mosaic {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 290px;
  margin-bottom: 50px;
}

.mosaic__left {
  margin-right: 16px;
}

.mosaic__left,
.mosaic__right {
  flex: 0 1 592px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}

.mosaic__right {
  justify-content: flex-start;
  margin-top: -325px;
  margin-left: 16px;
}

.card {
  display: flex;
  position: relative;
}

.card_small {
  flex: 0 1 280px;
}

.card__image {
  width: 100%;
  border-radius: 12px;
}

.mosaic__left .card_small,
.mosaic__right .card {
  margin-top: 32px;
}

.mosaic__cloud {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mosaic__text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-main);
}

/* bussines */
.mosaic__cloud_bussines {
  background-image: url("/assets/img/teacher/bussines.svg");
  width: 215px;
  height: 197px;
  left: 68.555%;
  top: 9%;
}

.mosaic__cloud_bussines::before {
  position: absolute;
  content: "";
  background: url("/assets/img/cloud.svg") no-repeat;
  background-size: contain;
  width: 100px;
  height: 55px;
  left: -13px;
  top: -13px;
  -webkit-animation: 5s linear 1s infinite alternate cloud-bussines;
          animation: 5s linear 1s infinite alternate cloud-bussines;
}

@-webkit-keyframes cloud-bussines {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -10px);
  }
}

@keyframes cloud-bussines {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -10px);
  }
}
.mosaic__cloud_bussines::after {
  position: absolute;
  content: "";
  background: url("/assets/img/teacher/circles2.svg") no-repeat;
  background-size: contain;
  width: 81px;
  height: 87px;
  left: 50px;
  top: -70px;
  -webkit-animation: 5s linear 1s infinite alternate circles-bussines;
          animation: 5s linear 1s infinite alternate circles-bussines;
}

@-webkit-keyframes circles-bussines {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7) rotate(90deg);
  }
}

@keyframes circles-bussines {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7) rotate(90deg);
  }
}
/* music */
.mosaic__cloud_music {
  background-image: url("/assets/img/teacher/music.svg");
  width: 201px;
  height: 215px;
  left: 16.555%;
  top: 42.5%;
}

.mosaic__cloud_music::before {
  position: absolute;
  content: "";
  background: url("/assets/img/cloud.svg") no-repeat;
  background-size: contain;
  width: 140px;
  height: 77px;
  left: -24px;
  top: -11px;
  -webkit-animation: 5s linear 1s infinite alternate cloud-music;
          animation: 5s linear 1s infinite alternate cloud-music;
}

@-webkit-keyframes cloud-music {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(50px, 0) scale(0.5);
  }
}

@keyframes cloud-music {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(50px, 0) scale(0.5);
  }
}
.mosaic__cloud_music::after {
  position: absolute;
  content: "";
  background: url("/assets/img/teacher/circles.svg") no-repeat;
  background-size: contain;
  width: 90px;
  height: 120px;
  left: -88px;
  top: 35px;
  transform: rotate(-95deg);
  -webkit-animation: 5s linear 1s infinite alternate circles-music;
          animation: 5s linear 1s infinite alternate circles-music;
}

@-webkit-keyframes circles-music {
  from {
    transform: scale(1) rotate(-95deg);
  }
  to {
    transform: scale(0.5) rotate(260deg);
  }
}

@keyframes circles-music {
  from {
    transform: scale(1) rotate(-95deg);
  }
  to {
    transform: scale(0.5) rotate(260deg);
  }
}
/* reading */
.mosaic__cloud_reading {
  background-image: url("/assets/img/teacher/reading.svg");
  width: 314px;
  height: 290px;
  left: 50%;
  top: 67.5%;
}

.mosaic__cloud_reading::before {
  position: absolute;
  content: "";
  background: url("/assets/img/cloud.svg") no-repeat;
  background-size: contain;
  width: 144px;
  height: 80px;
  left: -26px;
  top: -23px;
  -webkit-animation: 5s linear 1s infinite alternate cloud-reading;
          animation: 5s linear 1s infinite alternate cloud-reading;
}

@-webkit-keyframes cloud-reading {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50px, -10px);
  }
}

@keyframes cloud-reading {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50px, -10px);
  }
}
.mosaic__cloud_reading::after {
  position: absolute;
  content: "";
  background: url("/assets/img/teacher/circles.svg") no-repeat;
  background-size: contain;
  width: 139px;
  height: 155px;
  left: 236px;
  top: -16px;
  -webkit-animation: 5s linear 1s infinite alternate circles-reading;
          animation: 5s linear 1s infinite alternate circles-reading;
}

@-webkit-keyframes circles-reading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes circles-reading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
/* media queries */
@media (max-width: 900px) {
  .mosaic__cloud_bussines {
    top: -20%;
  }

  .mosaic__cloud_music {
    left: 5%;
    top: 20%;
  }
}
@media (max-width: 700px) {
  .mosaic__cloud_bussines {
    left: 60%;
  }

  .mosaic__left .card_small,
.mosaic__right .card {
    margin-top: 10px;
  }

  .mosaic__left {
    margin-right: 5px;
  }

  .mosaic__right {
    margin-left: 5px;
  }

  .mosaic__cloud_reading {
    width: 265px;
    height: 220px;
    left: 35%;
    top: 67.5%;
  }

  .mosaic__cloud_reading::after {
    width: 70px;
    height: 70px;
    left: 180px;
  }

  .mosaic__cloud_reading::before {
    width: 70px;
    height: 70px;
    left: 30px;
  }
}
@media (max-width: 600px) {
  .mosaic {
    margin-top: 100px;
  }

  .mosaic__right {
    margin-top: 0;
  }

  .mosaic__cloud_bussines {
    width: 150px;
    height: 140px;
    top: -2%;
    left: 64%;
  }

  .mosaic__text {
    font-size: 12px;
    line-height: 18px;
  }

  .mosaic__cloud_music {
    width: 133px;
    height: 140px;
  }

  .mosaic__cloud_music::before {
    width: 70px;
    height: 35px;
  }

  .mosaic__cloud_reading {
    width: 180px;
    height: 180px;
    left: 35%;
    top: 67.5%;
  }

  .mosaic__cloud_reading .mosaic__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .mosaic__cloud_bussines {
    transform: scale(0.7);
  }

  .mosaic__cloud_music {
    transform: scale(0.75);
  }

  .mosaic__cloud_reading {
    transform: scale(0.6);
  }
}
.sing-up {
  background-image: url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg");
  background-repeat: no-repeat;
  background-size: 95px 54px, 47px 26px, 95px 54px;
  background-position: 3% 97%, 46% 19%, 97% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 101px;
  margin-bottom: 227px;
  -webkit-animation: cloud-move2 10s linear 0s infinite alternate;
          animation: cloud-move2 10s linear 0s infinite alternate;
}

@-webkit-keyframes cloud-move2 {
  from {
    background-position: 3% 97%, 46% 19%, 97% 3%;
  }
  to {
    background-position: 15% 97%, 30% 19%, 80% 3%;
  }
}

@keyframes cloud-move2 {
  from {
    background-position: 3% 97%, 46% 19%, 97% 3%;
  }
  to {
    background-position: 15% 97%, 30% 19%, 80% 3%;
  }
}
.sing-up__left {
  padding: 54px 0 54px 70px;
}

.sing-up__text {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: var(--color-main);
  max-width: 440px;
  margin-bottom: 20px;
}

.sing-up__right {
  position: relative;
  flex: 1 1 50%;
}

.sing-up__aist {
  position: absolute;
  left: 72px;
  top: 12px;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-animation: aist 5s linear 0s infinite alternate;
          animation: aist 5s linear 0s infinite alternate;
}

@-webkit-keyframes aist {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes aist {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}
@media (max-width: 1180px) {
  .sing-up {
    margin-bottom: 100px;
  }

  .sing-up__left {
    flex: 1 1 50%;
  }

  .sing-up__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sing-up__aist {
    position: static;
    width: 90%;
    margin: 10% 5%;
  }
}
@media (max-width: 700px) {
  .sing-up {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .sing-up__left {
    flex: 1 1 100%;
    padding: 20px;
  }

  .sing-up__right {
    justify-content: end;
  }

  .sing-up__aist {
    margin: 0;
    width: 40%;
    position: absolute;
    left: 60%;
    top: -100px;
  }
}
.slider {
  margin: 100px 0 100px 0;
}

.slider__container {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 60px 0;
}

.slider__slide {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 50px;
}

.slider__left {
  flex: 0 1 657px;
}

.slider__image {
  width: 100%;
  min-width: 200px;
}

.slider__right {
  flex: 0 1 419px;
  padding: 0 0 65px 0;
}

.slider__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: var(--color-main);
  margin: 0;
}

.slider__description {
  max-width: 419px;
  margin-top: 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
}

.swiper-pagination-bullet {
  background: var(--color-main);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: var(--color-light);
}

.ourmission {
  background-image: url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-pink.svg"), url("/assets/img/slider/circle-pink.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-blue.svg");
  background-repeat: no-repeat;
  background-size: 300px 300px, 80px 80px, 44px 44px, 80px 80px, 300px 300px;
  background-position: 15% 97%, 15% 0, 50% 2%, 61% 5%, 100% 50%;
  -webkit-animation: ourmission 7s linear 0s infinite alternate;
          animation: ourmission 7s linear 0s infinite alternate;
}

@-webkit-keyframes ourmission {
  from {
    background-position: 15% 97%, 15% 0, 50% 2%, 61% 5%, 100% 50%;
  }
  to {
    background-position: 5% 97%, 1% 15%, 30% 20%, 70% 15%, 100% 0%;
  }
}

@keyframes ourmission {
  from {
    background-position: 15% 97%, 15% 0, 50% 2%, 61% 5%, 100% 50%;
  }
  to {
    background-position: 5% 97%, 1% 15%, 30% 20%, 70% 15%, 100% 0%;
  }
}
.ourmission .slider__image {
  max-width: 555px;
}

.ourvision {
  background-image: url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-pink.svg");
  background-repeat: no-repeat;
  background-size: 210px 210px, 38px 38px, 126px 126px, 54px 54px, 108px 108px, 108px 108px;
  background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
  -webkit-animation: ourvision 7s linear 0s infinite alternate;
          animation: ourvision 7s linear 0s infinite alternate;
}

@-webkit-keyframes ourvision {
  from {
    background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
  }
  to {
    background-position: 0% 1%, 60% 0, 80% 100%, 12% 80%, 50% 5%, 80% 50%;
  }
}

@keyframes ourvision {
  from {
    background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
  }
  to {
    background-position: 0% 1%, 60% 0, 80% 100%, 12% 80%, 50% 5%, 80% 50%;
  }
}
.ourvision .slider__image {
  max-width: 492px;
}

.ourgoal {
  background-image: url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-blue.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-yellow.svg"), url("/assets/img/slider/circle-pink.svg");
  background-repeat: no-repeat;
  background-size: 210px 210px, 38px 38px, 126px 126px, 54px 54px, 108px 108px, 108px 108px;
  background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
  -webkit-animation: ourgoal 7s linear 0s infinite alternate;
          animation: ourgoal 7s linear 0s infinite alternate;
}

@-webkit-keyframes ourgoal {
  from {
    background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
  }
  to {
    background-position: 0% 1%, 60% 0, 80% 100%, 12% 80%, 50% 5%, 80% 50%;
  }
}

@keyframes ourgoal {
  from {
    background-position: 12% 1%, 44% 0, 80% 45%, 12% 100%, 65% 5%, 51% 50%;
  }
  to {
    background-position: 0% 1%, 60% 0, 80% 100%, 12% 80%, 50% 5%, 80% 50%;
  }
}
.ourgoal .slider__image {
  max-width: 514px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}

@media (max-width: 1095px) {
  .slider__left {
    margin: 0 20px 30px 20px;
  }

  .slider__right {
    flex: 1 1 100%;
    text-align: center;
  }

  .slider__title {
    font-size: 36px;
    line-height: 36px;
  }

  .slider__description {
    padding: 0 20px 20px 20px;
    max-width: none;
  }
}
.welcome {
  padding: 113px 72px 121px 69px;
  background-image: url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg");
  background-repeat: no-repeat;
  background-size: 95px 54px, 113px 64px, 195px 110px;
  background-position: 128px 44px, 981px 35px, 925px 489px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  -webkit-animation: 30s linear 0s infinite alternate welome-cloud-move;
          animation: 30s linear 0s infinite alternate welome-cloud-move;
}

@-webkit-keyframes welome-cloud-move {
  from {
    background-position: -100px 44px, 120% 0, 130% 489px;
  }
  to {
    background-position: 120% 44px, -20% 100%, -30% 489px;
  }
}

@keyframes welome-cloud-move {
  from {
    background-position: -100px 44px, 120% 0, 130% 489px;
  }
  to {
    background-position: 120% 44px, -20% 100%, -30% 489px;
  }
}
.welcome__left {
  flex: 1 1 550px;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.welcome__address {
  font-style: italic;
  font-size: 26px;
  line-height: 32px;
  color: #909ec4;
  max-width: 380px;
  margin: 7px 0 35px 0;
}

.welcome__time {
  padding-top: 9px;
}

.welcome__register {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  max-width: 418px;
  align-items: center;
}

.welcome__trial {
  max-width: 245px;
  margin-right: 30px;
}

.welcome__right {
  flex: 0 1 494px;
}

.welcome__author {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  margin: 8px 0 0 0;
  cursor: pointer;
}

.welcome__langs {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-main);
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 27px;
  padding: 0;
}

.welcome__video iframe {
  width: 100%;
  height: 275px;
}

.welcome__title {
  font-size: 57px;
  line-height: 68px;
}

@media (max-width: 1235px) {
  .welcome {
    padding: 20px 30px;
  }

  .welcome__title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 10px;
  }

  .welcome__address {
    margin-bottom: 0;
  }
}
@media (max-width: 1150px) {
  .welcome {
    justify-content: center;
    text-align: center;
  }

  .welcome__left {
    justify-content: center;
  }

  .welcome__address {
    max-width: none;
  }

  .welcome__register {
    display: none;
  }
}
.wizard {
  font-size: 18px;
  min-height: 330px;
  padding-right: 7px;
  display: none;
}

.wizard__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.wizard__body {
  min-height: 209px;
}

.wizard__question {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 17px;
}

.child-count {
  display: flex;
  align-items: center;
  margin-bottom: 138px;
}

.child-count .input-field {
  width: 52px;
  text-align: center;
  margin: 0 8px;
}

.minus-button,
.plus-button {
  background: none;
  border: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.minus-button {
  background: url("/assets/img/minus.svg") no-repeat center center;
}

.plus-button {
  background: url("/assets/img/plus.svg") no-repeat center center;
}

.wizard__navigation {
  display: flex;
  justify-content: space-between;
}

.wizard__step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wizard__step_2,
.wizard__step_3 {
  display: none;
}

.wizard__navigation .button {
  font-size: 19px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.ages {
  display: flex;
  flex-direction: column;
  padding: 9px 0 55px 0;
}

.ages__label {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 13px;
}

.wizard__contact {
  padding: 50px 0 37px 0;
}

.wizard__contact p {
  margin-bottom: 30px;
}

.wizard__success {
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 20px;
  text-transform: uppercase;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.lessons__description {
  max-width: 605px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
}

.lessons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 83px;
}

.lessons__item {
  flex: 0 1 488px;
  margin: 10px 16px;
}

.lessons__link {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  padding: 23px 10px 24px 10px;
  background: #E5F5F5;
  border-radius: 12px;
  display: block;
  text-align: center;
}

.lessons__link:hover {
  background-color: var(--color-light);
  color: #ffffff;
}

/* lesson */
.lesson {
  display: flex;
  padding: 40px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  overflow: hidden;
  position: relative;
}

.lesson::before {
  position: absolute;
  content: "";
  background: url("img/cloud.svg") no-repeat;
  background-size: contain;
  width: 173px;
  height: 98px;
  z-index: 1;
  left: 3px;
  top: 3px;
  -webkit-animation: 10s linear 1s infinite alternate lessson-cloud;
          animation: 10s linear 1s infinite alternate lessson-cloud;
}

@-webkit-keyframes lessson-cloud {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(350px, -50px) scale(0.1);
  }
}

@keyframes lessson-cloud {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(350px, -50px) scale(0.1);
  }
}
.lesson::after {
  position: absolute;
  content: "";
  background: url("img/cloud.svg") no-repeat;
  background-size: contain;
  width: 135px;
  height: 76px;
  z-index: 1;
  right: -12px;
  bottom: 42px;
  -webkit-animation: 20s linear 4s infinite alternate lessson-cloud-bottom;
          animation: 20s linear 4s infinite alternate lessson-cloud-bottom;
}

@-webkit-keyframes lessson-cloud-bottom {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(-400px, 50px) scale(0.1);
  }
}

@keyframes lessson-cloud-bottom {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(-400px, 50px) scale(0.1);
  }
}
.lesson__image {
  flex: 1 1 400px;
  overflow: hidden;
  text-align: center;
  margin: 20px;
  position: relative;
  z-index: 2;
}

.lesson__image img {
  width: 100%;
  max-width: 488px;
  border-radius: 12px;
}

.lesson__info {
  flex: 1 1 400px;
  margin: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}

.lesson__info strong {
  font-weight: 600;
}

.lesson_about {
  margin-bottom: 35px;
}

.lesson__result ul {
  list-style: disc;
  padding-left: 22px;
  margin-top: 20px;
}

.lesson__result ul li {
  margin-bottom: 15px;
}

.groups {
  margin-bottom: 125px;
}

.groups .page-title {
  max-width: 582px;
  margin: 48px auto 54px auto;
  line-height: 46px;
}

.groups__list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.card-group {
  flex: 0 1 384px;
  background: #E5F5F5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 40px 10px;
}

.card-group__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  margin: 29px 16px 30px 16px;
}

.card-group__image {
  margin: 0 46px;
}

.card-group__image img {
  width: 100%;
  border-radius: 12px;
}

.card-group__info {
  margin: 17px 46px 35px;
  padding-left: 18px;
  flex: 1 1 100%;
}

.card-group__info ul {
  list-style: disc;
}

.card-group__info ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 9px;
}

.card-group__bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 46px 40px;
}

.card-group__button {
  background: var(--color-light);
  border-radius: 10px;
  padding: 15px 36px 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
}

.card-group__cost {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.card-group__period {
  font-size: 18px;
  line-height: 18px;
}

@media (max-width: 450px) {
  .card-group {
    margin: 0 0 40px 0;
  }

  .card-group__button {
    padding: 15px 15px 16px;
  }

  .card-group__image {
    margin: 0 30px;
  }

  .card-group__bottom {
    margin: 0 30px 40px;
  }

  .card-group__info {
    margin: 17px 20px 35px;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__row {
  display: flex;
  justify-content: space-between;
}

.gallery__image {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.gallery__image_50 {
  flex: 0 1 592px;
}

.gallery__image_25 {
  flex: 0 1 280px;
}

.gallery__image img {
  width: 100%;
}

.gallery__image-tween {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 670px) {
  .gallery__row {
    flex-wrap: wrap;
  }
}
.teacher {
  padding: 61px 44px 30px 72px;
  position: relative;
}

.teacher__title {
  margin: 0 0 50px 0;
}

.teacher__info {
  display: flex;
  justify-content: space-between;
}

.techer__education {
  margin: 0 20px 0 0;
}

.techer__education b {
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  text-transform: uppercase;
}

.techer__education ul {
  list-style: disc;
  margin: 16px 10px 27px 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.techer__education li {
  padding: 0 0 6px 5px;
  max-width: 500px;
}

.teacher__photo {
  overflow: hidden;
  position: relative;
  flex: 0 1 456px;
}

.teacher__img {
  position: absolute;
  left: 0;
  top: -55px;
}

.teacher__name {
  background: url("/assets/img/teacher/sky.png") no-repeat;
  background-size: cover;
  width: 414px;
  height: 161px;
  position: absolute;
  top: 252px;
  left: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  font-size: 18px;
  padding: 10px 30px 0 54px;
}

.teacher__name b {
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 9px;
}

.teacher__sky {
  position: absolute;
  background: url("/assets/img/teacher/cloud.svg") no-repeat;
  background-size: contain;
  width: 173px;
  height: 98px;
  top: 32px;
  left: -15px;
}

/* Style Created by Suyarov Jamal @suyaroff */
.jamal {
  text-align: center;
  font-size: 12px;
  color: #000;
  padding: 3px;
}

.jamal a {
  color: #000;
  text-decoration: none;
}

.jamal__telegram,
.jamal__gitlab,
.jamal__portfolio {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABzklEQVQ4jaWSTWtTURCGnznnxuQSrU1NFaG6sJ/BQrt0IdVdqZtkIS6Egkuhf8Klf8DuXLT6AxooLW67EgUVRPMhfi2kCC2hjcltmnvPuAiJiSkp4rs7w8zDM8yB/4ycVJzdbGRC67LGuWkAFSlG1ubLi/HiQMDElg55BKsC90+AK8Jzd+yvlLJS7QNMbOmQp8GOCHOnWL9zTX+hDTHtqkewOmh4/KwwGheAeXMmeNJjMLvZyEQm+vC3dtzA7YuWe1c9blwwLL9s8KbiAFxk7fXyYrzoAYTictI1fC0p5MY87l6xxMIG9aNDVIcpVV27xRjncsBjr7WHm1KEm2nLyqTH3LAhjCJ+7u+jqoxdGuVrTamFf+xE3WRrdcAJKsDnmmN7N8Id1fCqe6RT57mcHgGgcOjoiaIdAGLKqLIbKOvfQr7vHbOUsowkkp3+PoDIp84VnDEbQKfjdd3nx6+QR68qvD9olT8e9ACcE7PRuQJAZru+jrLcfqdsk0oUI2Hh4XiMp19CqqG2/dcKd5IPegDTeT1nYsEOMM/gvHVN/1bfRyplpeqa/gLCs+51urVB17qHewy6M/WiMWOjKCuqMwAqUnBi8qWlROkUu3/Pb+SFulfmz+H0AAAAAElFTkSuQmCC");
  background-size: 16px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.jamal__gitlab {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABxUlEQVQ4ja2Rv2tTURTHP+cm9zU/+l5bkkrsIl0sGI3DEyRREBUcKiIKrXHROpSuTi4uwf/AsZt0cBVx0LWgWwVb62BwK0gkLaVJaON7ebkOrc8X7RsCfrfL+Z7P+d5z4H9qq1xOD+tRg4/esy/FohXXvOa6WolfOxaw5roaeDThZK/GAaYsdR0ji9EhaqAIOUN/Lg5gkDlgIjpE/VUE5O5x3zhMaG4fev8MEQCz7OqdV4k3QRcHQGu9st/xd6KAzKjO+b7/ACCRopW7E9ySpY9+EgC7fTM3r202CmUAf78fHHz2LkcB9rR+n8ykygCcbXxgtDcLvFZHORZI+xWmd1cBdEbOi+IgjKnoJtOJEgCndlfJ+pfALER34AFwolNhvLsOYqcmrY0wft76hOAw3t2k0KkcLc0PAXK/Po/wEPCY2Z7CChp2YaT/G5A9aYHVa3K6OQn0EHlMtX5v4ApSra9guABsUWpsJzNSlIS0JWE6ybQ6w7kf3xHTJFAXpfr1uQgmvEJUZtnVOO2ntEeutN6NaQScG3s9HG+dseCJzH77GfX/AwhBL2eueZv2oiBKl/ZeSLX+Ns4bq1bNzbdqbn7oxmH0CyfpiQAUqr79AAAAAElFTkSuQmCC");
}

.jamal__portfolio {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABjElEQVQ4jcWSPWtUQRiFn3ln9q43WmgiFgmCWAkLSioRsZNUloKotSlsLAVBK0HxH0j6YGGpjY2FhTaCBBI/ECIEv9l1k5Bswp2ZY5F1s7uwqIV4YIqZc+aZw8vA/5YbZXw632gC491tc/Lh4sGRgFcXTt45emj8es37kcB+VSlp+Xv77okHz28EgH25c4n1lqv+ovnetH0Z2AGoipa2OoMRM9rnroBg/+M5yHmoRjSAAGCKKA35x05x5OJVAL6+e0mx9GKwgiJ9AAlpIFCsvKH14T2SqK+8RUO+dQ8CwLdOfL1R5cM179hjjjIYtH+Q7t8CRF5tgTKdmNnKokpiM+alHiBJq63tSMyQJKIzjt+eY/L0WQA+PnvCws1ZaohgDu+gMLcGYACl95TeKINjLBgHGtO9ywBTZ2aYaEwzFozSO0pv1L3fnUHhIHhHliMJtLHG56ePwHW/hUTYXKfwhjl2lrELqBlkHFkQJPRlmea9awNDqwPOOxxdAH0Aiflf5N6rv5HE/B8F/7l+AoMomKCUUq7JAAAAAElFTkSuQmCC");
}/*# sourceMappingURL=style.css.map */