.gallery {
    display: flex;
    flex-direction: column;
}

.gallery__row {
    display: flex;
    justify-content: space-between;
}

.gallery__image {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.gallery__image_50 {
    flex: 0 1 592px;
}

.gallery__image_25 {
    flex: 0 1 280px;
}

.gallery__image img {
    width: 100%;
}

.gallery__image-tween {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width:670px) {
    .gallery__row {
        flex-wrap: wrap;
    }
}