.groups {
    margin-bottom: 125px;
}

.groups .page-title {
    max-width: 582px;
    margin: 48px auto 54px auto;
    line-height: 46px;
}

.groups__list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.card-group {
    flex: 0 1 384px;
    background: #E5F5F5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 40px 10px;
}

.card-group__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    margin: 29px 16px 30px 16px;
}

.card-group__image {
    margin: 0 46px;
}

.card-group__image img {
    width: 100%;
    border-radius: 12px;
}

.card-group__info {
    margin: 17px 46px 35px;
    padding-left: 18px;
    flex: 1 1 100%;
}

.card-group__info ul {
    list-style: disc;
}

.card-group__info ul li {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 9px;
}

.card-group__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 46px 40px;
}

.card-group__button {
    background: var(--color-light);
    border-radius: 10px;
    padding: 15px 36px 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: #FFFFFF;
}

.card-group__cost {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.card-group__period {
    font-size: 18px;
    line-height: 18px;
}

@media (max-width:450px) {
    .card-group {
        margin: 0 0 40px 0;
    }

    .card-group__button {
        padding: 15px 15px 16px;
    }

    .card-group__image {
        margin: 0 30px;
    }

    .card-group__bottom {
        margin: 0 30px 40px;
    }

    .card-group__info {
        margin: 17px 20px 35px;
    }
}