.lessons__description {
    max-width: 605px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
}

.lessons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 83px;
}

.lessons__item {
    flex: 0 1 488px;
    margin: 10px 16px;
}

.lessons__link {
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 23px 10px 24px 10px;
    background: #E5F5F5;
    border-radius: 12px;
    display: block;
    text-align: center;
}

.lessons__link:hover {
    background-color: var(--color-light);
    color: #ffffff;
}

/* lesson */
.lesson {
    display: flex;
    padding: 40px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
}

.lesson::before {
    position: absolute;
    content: '';
    background: url('img/cloud.svg') no-repeat;
    background-size: contain;
    width: 173px;
    height: 98px;
    z-index: 1;
    left: 3px;
    top: 3px;
    animation: 10s linear 1s infinite alternate lessson-cloud;
}

@keyframes lessson-cloud {
    from {
        transform: translate(0, 0) scale(1)
    }

    to {
        transform: translate(350px, -50px) scale(0.1)
    }
}

.lesson::after {
    position: absolute;
    content: '';
    background: url('img/cloud.svg') no-repeat;
    background-size: contain;
    width: 135px;
    height: 76px;
    z-index: 1;
    right: -12px;
    bottom: 42px;
    animation: 20s linear 4s infinite alternate lessson-cloud-bottom;
}

@keyframes lessson-cloud-bottom {
    from {
        transform: translate(0, 0) scale(1)
    }

    to {
        transform: translate(-400px, 50px) scale(0.1)
    }
}

.lesson__image {
    flex: 1 1 400px;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    position: relative;
    z-index: 2;
}

.lesson__image img {
    width: 100%;
    max-width: 488px;
    border-radius: 12px;
}

.lesson__info {
    flex: 1 1 400px;
    margin: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    z-index: 2;
}

.lesson__info strong {
    font-weight: 600;
}

.lesson_about {
    margin-bottom: 35px;
}

.lesson__result ul {
    list-style: disc;
    padding-left: 22px;
    margin-top: 20px;
}

.lesson__result ul li {
    margin-bottom: 15px;
}