.teacher {
    padding: 61px 44px 30px 72px;
    position: relative;
}

.teacher__title {
    margin: 0 0 50px 0;
}

.teacher__info {
    display: flex;
    justify-content: space-between;
}

.techer__education {
    margin: 0 20px 0 0;
}

.techer__education b {
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    text-transform: uppercase;
}

.techer__education ul {
    list-style: disc;
    margin: 16px 10px 27px 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.techer__education li {
    padding: 0 0 6px 5px;
    max-width: 500px;
}

.teacher__photo {
    overflow: hidden;
    position: relative;
    flex: 0 1 456px;
}

.teacher__img {
    position: absolute;
    left: 0;
    top: -55px;
}

.teacher__name {
    background: url('/assets/img/teacher/sky.png') no-repeat;
    background-size: cover;
    width: 414px;
    height: 161px;
    position: absolute;
    top: 252px;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    font-size: 18px;
    padding: 10px 30px 0 54px;
}

.teacher__name b {
    font-weight: 600;
    font-size: 29px;
    margin-bottom: 9px;
}

.teacher__sky {
    position: absolute;
    background: url("/assets/img/teacher/cloud.svg") no-repeat;
    background-size: contain;
    width: 173px;
    height: 98px;
    top: 32px;
    left: -15px;
}