@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;800&display=swap");

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: var(--color-main);
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

.blue-bg {
    border-radius: 12px;
    background-color: var(--color-container);
}

.tc {
    text-align: center;
}

.page-title {
    text-align: center;
    margin: 45px 15px 20px 15px;
    flex: 1 1;
}

.input-field {
    border: 0;
    border-bottom: 2px solid #909EC4;
    background: none;
    font-size: 16px;
    line-height: 25px;
    outline: none;
    color: var(--color-main);
    width: 100%;
    padding: 2px 0;
}

.input-field::placeholder {
    color: var(--color-main);
}

@media (max-width: 1246px) {
    .container {
        margin: 0 15px;
    }
}