h1,
h2,
h3 {
    font-style: normal;
    font-weight: 800;
    margin: 0;
    color: var(--color-main);
    font-family: inherit;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    line-height: 59px;
}

h2 {
    font-size: 48px;
    line-height: 50px;
}

h3 {
    font-size: 21px;
    line-height: 22px;
}

p {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
}